/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: gray}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.SpacerSmall
{
  flex: 0.01 1 auto;
}
.SpacerBIGCHUNGUS
{
  flex:1 1 auto;
}

.HoverItem
{
  background-color: darkgray;
}
HoverItem:hover
{
  background-color: lightgray;
}

.HoverSpan
{
}
.HoverItem:hover
{
  background-color: gray;
}

.MaxedOutLogo
{
  width:200rem;
  height:200rem;
  display:block;
  position:relative;
}
.MaxedOutLogo::after
{
  content: "";
  background: url("src/assets/Logo.png");
  opacity: 1;
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.CenterAlignObject
{
  alignment: center;
  horiz-align: center;
  vert-align: middle;
}

mat-sidenav-container
{
  position: fixed;
  height: 90%;
  padding: 1px;
  background-color: gray;
  vertical-align: center;
}

mat-sidenav,mat-sidenav-content
{
  background-color: darkgray;
  vertical-align: center;
  width: 200px;
}
